@model GestionTareas.Api.Models.Tarea

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompletada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCompletada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCreadorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCreadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioAsignadoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioAsignadoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProyectoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProyectoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrioridadTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrioridadTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Progreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Progreso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
